<!DOCTYPE html>
<html lang='{{ request.LANGUAGE_CODE|default:"en" }}'>
  <head>
    {% block head %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}{% endblock %}</title>
    {% block head_styles %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css' integrity='sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    {% endblock %}
    {% block head_js %}{% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% block body_content %}{% endblock %}
    {% block body_js %}{% endblock %}
    {% endblock %}
  </body>
</html>
