<div id='course_title' class='h2'>{{ course_outline.display_name }}</div>
<hr>
<div id='outline' class='list-group'>
{% for chapter in course_outline.children %}
  {% include 'openedx_lti_tool_plugin/course_outline_item.html' with block=chapter %}
  <div id='{{ chapter.id|urlencode }}-collapse' class='list-group collapse show'>
  {% for sequence in chapter.children %}
    {% include 'openedx_lti_tool_plugin/course_outline_item.html' with block=sequence %}
    <div id='{{ sequence.id|urlencode }}-collapse' class='list-group collapse'>
    {% for unit in sequence.children %}
      {% include 'openedx_lti_tool_plugin/course_outline_item.html' with block=unit %}
    {% endfor %}
    </div>
  {% endfor %}
  </div>
{% endfor %}
</div>
