{% extends 'openedx_lti_tool_plugin/base.html' %}
{% load i18n %}

{% block title %}{% translate 'LTI Courseware' %}{% endblock %}
{% block body %}
<div class='container-fluid container-lg my-4 my-xl-5'>
  <main>
    <button type='button' class='btn btn-secondary' data-bs-toggle='offcanvas' data-bs-target='#courseSidebar' aria-controls='courseSidebar'>
      <i class='fa fa-bars' aria-hidden='true'></i> {% translate 'Course Outline' %}
    </button>
    <iframe id='unit-iframe' class='w-100 border-0 d-block' src='{% url request.resolver_match.app_name|add:":lti-xblock" unit_obj.id%}' scrolling='no'></iframe>
    <div class='d-flex gap-2 justify-content-center align-items-center'>
      <button onclick='goToPreviousUnit()' class='btn btn-outline-secondary btn-previous px-4'>
        <i class='fa fa-chevron-left' aria-hidden='true'></i> {% translate 'Previous' %}
      </button>
      <button onclick='goToNextUnit()' class='btn btn-outline-secondary btn-next px-4'>
        {% translate 'Next' %} <i class='fa fa-chevron-right' aria-hidden='true'></i>
      </button>
    </div>
  </main>
  <aside id='courseSidebar' class='offcanvas offcanvas-start' data-bs-scroll='true' aria-labelledby='courseSidebarLabel' tabindex='-1'>
    <div class='offcanvas-header'>
      <h3 class='offcanvas-title' id='courseSidebarLabel'>{{ course_outline.display_name }}</h3>
      <button type='button' class='btn-close' data-bs-dismiss='offcanvas' aria-label='{% translate "Close" %}'></button>
    </div>
    <div class='offcanvas-body'>
      {% include 'openedx_lti_tool_plugin/course_outline.html' %}
    </div>
  </aside>
</div>
<script>
  const baseUrl = '{{ request.scheme }}://{{ request.get_host }}';
  const appName = '{{ request.resolver_match.app_name }}';
  const iframeElem = document.getElementById('unit-iframe');
  const prevBtnElem = document.querySelector('.btn-previous');
  const nextBtnElem = document.querySelector('.btn-next');
  const units = {{ units|safe }};
  let currentUnitId = '{{ unit_obj.id }}';

  /**
   * Goes to the previous unit updating the iframe.
   *
   * @return {void}
   */
  function goToPreviousUnit() {
    // Update iframe if current unit is not first unit.
    if (!isFirstUnit) {
      updateUnitIframe(units[units.indexOf(currentUnitId) - 1]);
    };
  };

  /**
   * Goes to the next unit and updates the iframe.
   *
   * @returns {void}
   */
  function goToNextUnit() {
    // Update iframe if current unit is not last unit.
    if (!isLastUnit) {
      updateUnitIframe(units[units.indexOf(currentUnitId) + 1]);
    };
  };

  /**
   * Checks the position of a unit in the course outline.
   *
   * This function determines if the given unit ID is the first or last unit in the course outline
   * and returns an array of boolean values accordingly.
   *
   * @param {string} unitId - The ID of the unit to check.
   * @returns {Array<boolean>} A tuple of booleans representing whether the unit is the first or last unit.
   */
  function checkUnitPosition(unitId) {
    // Check position of unit ID on course outline.
    let isFirstUnit = units.indexOf(unitId) > 0 ? false : true;
    let isLastUnit = units.indexOf(unitId) < units.length -1 ? false : true;
    // Toggle disable attribute on next and previous navigation buttons.
    isFirstUnit ? prevBtnElem.setAttribute('disabled', '') : prevBtnElem.removeAttribute('disabled');
    isLastUnit ? nextBtnElem.setAttribute('disabled', '') : nextBtnElem.removeAttribute('disabled');

    return [isFirstUnit, isLastUnit];
  };

  /**
   * Updates the active unit on the course outline and collapses the corresponding chapter and sequence divs.
   *
   * @param {string} unitId - The ID of the unit to be updated.
   * @returns {void}
   */
  function updateActiveOutlineUnit(unitId) {
    const unitBtnElem = document.getElementById(unitId);
    // Remove active class from previously active unit.
    document.querySelector('.vertical-item.active').classList.remove('active');
    // Remove show from all collapse elements on outline.
    document.getElementById('outline').querySelectorAll('.collapse').forEach(function (element) {
      element.classList.remove('show');
    });
    // Add active class to unit button.
    unitBtnElem.classList.add('active');
    // Expand current unit chapter and sequence div.
    unitBtnElem.closest('.chapter-collapse').classList.add('show');
    unitBtnElem.closest('.sequence-collapse').classList.add('show');
  };

  /**
   * Updates the iframe with the content of the given unit.
   *
   * This function updates the iframe source to display the content of the unit with the specified ID. It also
   * updates the active unit on the course outline and modifies the browser history to reflect the new unit ID.
   *
   * @param {string} unitId - The ID of the unit to update.
   * @returns {void}
   */
  function updateUnitIframe(unitId) {
    // Decode URL encoded unit ID.
    const decodedUnitId = decodeURIComponent(unitId);
    // Update current unit ID and iframe src.
    currentUnitId = decodedUnitId;
    iframeElem.src = `${baseUrl}/${appName}/xblock/${decodedUnitId}`;
    // Update active unit on course outline.
    updateActiveOutlineUnit(encodeURIComponent(decodedUnitId));
    // Update unit position state.
    [isFirstUnit, isLastUnit] = checkUnitPosition(decodedUnitId);
    // Update path and title to new unit ID.
    history.pushState({}, null, `/${appName}/course/{{ course_id }}/${decodedUnitId}`);
  };

  // Update disable attribute of bottom navigation buttons on load.
  let [isFirstUnit, isLastUnit] = checkUnitPosition(currentUnitId);

  // Add click event listener to each unit on course outline.
  document.querySelectorAll('.vertical-item').forEach(element => {
    element.addEventListener('click', (e) => {
      e.preventDefault();
      // Update iframe with new unit.
      updateUnitIframe(e.target.id);
      // Hide course outline offcanvas.
      bootstrap.Offcanvas.getInstance(document.getElementById('courseSidebar')).hide();
    });
  });

  // Detect Window.postMessage() sent from
  // template courseware/courseware-chromeless.html.
  window.addEventListener('message', (event) => {
    // Validate event origin is from LMS.
    if (event.origin !== baseUrl) {
      return;
    };
    // Resize XBlock iframe on plugin.resize event.
    if (event.data.type === 'plugin.resize') {
      iframeElem.height = event.data.payload.height;
    };
  });
</script>
{% endblock %}
