include CHANGELOG.rst
include README.rst
include requirements/base.in
include requirements/base.txt
include requirements/constraints.txt
recursive-include openedx_lti_tool_plugin *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
