# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Stay on the latest LTS release of Django
Django<6.0

# use edx-platform package versions.
amqp<=5.3.1
asgiref<=3.11.0
attrs<=25.4.0
billiard<=4.2.4

celery<=5.6.2
certifi<=2026.1.4
cffi<=2.0.0
charset-normalizer<=3.4.4
click-didyoumean<=0.3.1
click-plugins<=1.1.1.2
click-repl<=0.3.0
click<=8.3.1
code-annotations<=2.3.0
cryptography<=45.0.7
django-crum<=0.7.9
django-waffle<=5.0.0
djangorestframework<=3.16.1
drf-jwt<=1.19.2
edx-django-utils<=8.0.1
edx-drf-extensions<=10.6.0
edx-opaque-keys<=3.0.0
edx-toggles<=5.4.1
idna<=3.11
importlib-resources<=6.4.0
jinja2<=3.1.6
jsonschema<=4.25.1
jwcrypto<=1.5.6
kombu<=5.6.2
markupsafe<=3.0.3
prompt-toolkit<=3.0.52
psutil<=7.2.1
pycparser<=2.23
pyjwt[crypto]<=2.10.1
pylti1p3<=2.0.0
pymongo<=4.4.0
pynacl<=1.6.2
pyrsistent<=0.20.0
python-slugify<=8.0.4
pytz<=2025.2
pyyaml<=6.0.3
requests<=2.32.5
six<=1.17.0
sqlparse<=0.5.5
stevedore<=5.6.0
text-unidecode<=1.3
tox<=4.34.1
typing-extensions<=4.15.0
urllib3<=2.6.3
vine<=5.1.0
wcwidth<=0.2.14
wrapt<=1.17.3
zipp<=3.18.1

# Keep same edx platform version - pip-tools.txt
build==1.3.0
packaging==25.0
pip-tools==7.5.2
wheel==0.45.1
